@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-bold duration-100 ease-linear transition-colors;
  }

  .btn-primary {
    @apply bg-green-700 text-white;
  }

  .btn-primary-outline {
    @apply border-2 border-green-700 text-green-700;
  }

  .btn-primary-outline:hover {
    @apply bg-green-700 text-white;
  }

  .btn-danger-outline {
    @apply border-2 border-red-700 text-red-700;
  }

  .btn-danger-outline:hover {
    @apply bg-red-700 text-white;
  }
}
